[Unit]
Description=pgsql.site

Requires=docker.service
After=docker.service

[Service]

Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill pgsql.site
ExecStartPre=-/usr/bin/docker rm pgsql.site
ExecStartPre=-/usr/bin/docker pull marley/pgsql.site:latest
ExecStart=/bin/sh -c '/usr/bin/docker run --name pgsql.site   \
 -p 4006:80                        \
 marley/pgsql.site'
ExecStop=-/usr/bin/docker kill pgsql.site
ExecStop=-/usr/bin/docker rm pgsql.site

[Install]
WantedBy=multi-user.target
